# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore local configuration files
*.env
*.ini

# Ignore IDE specific files
.vscode/
.idea/

# Ignore subscription file
subscription.txt
